.container .left .username{
    width: 500px;
}
.container .left .password{
    width: 500px;
}
.container{
    height: 500px;
}
.bottom{
    display: flex;
}
.bottom .back button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border: 1px solid blue;
    margin: 0;
    height: 32px;
    width: 120px;
    padding-left: 35px;
    border-radius: 1rem;
    font-weight: bold  ;
    font-size: 1rem;
    color: blue;
    background-color: white;
}
 .bottom .signup button{
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    margin: 0;
    height: 32px;
    width: 120px;
    padding-left: 35px;
    border-radius: 1rem;
    font-weight: bold  ;
    font-size: 1rem;
    color: white;
    background-color: rgb(57, 57, 255);
    margin-left: 500px;
}